<alert></alert>
<div>
  <form [formGroup]="searchForm" (ngSubmit)="getBySearch(searchForm)">

    <mat-form-field class="full-width-input">
      <input matInput placeholder="Пошук за ім'ям" formControlName="search">
    </mat-form-field>

    <mat-form-field class="full-width-input">
      <mat-select placeholder="Сортування" formControlName="order">
        <mat-option value="" disabled selected>Сортування</mat-option>
        <mat-option value="asc">Сортувати за ім'ям (А-Я)</mat-option>
        <mat-option value="desc">Сортувати за ім'ям (Я-А)</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="full-width-input">
      <mat-select placeholder="Стать" formControlName="gender">
        <mat-option value="">Стать</mat-option>
        <mat-option value="M">Чоловіча</mat-option>
        <mat-option value="F">Жіноча</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="full-width-input">
      <mat-select placeholder="Статус облікового запису" formControlName="status">
        <mat-option value="">Статус облікового запису</mat-option>
        <mat-option value="true">Активний</mat-option>
        <mat-option value="false">Неактивний</mat-option>
      </mat-select>
    </mat-form-field>

    <button type="submit" class="btn-filter" mat-flat-button color="accent">Фільтрувати</button>
  </form>
</div>


<div class="table-container">
  <mat-table id="table" [dataSource]="pageContent" #table matSort class="mat-cell">

    <ng-container matColumnDef="image">
      <mat-header-cell *matHeaderCellDef>Зображення</mat-header-cell>
      <mat-cell *matCellDef="let item"><img [src]="item.imgUrl"/></mat-cell>
    </ng-container>

    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef>Ім'я</mat-header-cell>
      <mat-cell class="content-text" *matCellDef="let item">{{item.firstName}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef>Прізвище</mat-header-cell>
      <mat-cell class="content-text" *matCellDef="let item">{{item.lastName}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
        <button mat-icon-button color="primary" (click)="newModerator()">
          <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
        </button>
      </mat-header-cell>

      <mat-cell *matCellDef="let row; let i=index;">
        <button mat-icon-button color="accent" (click)="editModerator(row, row.id)">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>

        <button mat-icon-button color="accent" (click)="changeStatus(i, row.id, row.status)">
          <mat-icon *ngIf="row.status == true" aria-label="Change status">check_box</mat-icon>
          <mat-icon *ngIf="row.status == false" aria-label="Change status">check_box_outline_blank</mat-icon>
        </button>
      </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
    <mat-row *matRowDef="let item; columns: columnsToDisplay"></mat-row>
  </mat-table>
</div>

<mat-paginator
  [length]="totalElements"
  [pageIndex]="currentPage"
  [pageSize]="pageSize"
  [pageSizeOptions]="[12, 20, 40]"
  (page)="paginationHandler($event)">
</mat-paginator>

