      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <h2>Реєстрація</h2>

        <mat-form-field class="full-width-input">
          <input matInput placeholder="Ім'я" formControlName="firstName" required>
          <mat-error>
            {{firstNameErrorMessage}}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width-input">
            <input matInput placeholder="Прізвище" formControlName="lastName" required>
            <mat-error>
              Вкажіть коректне прізвище
            </mat-error>
          </mat-form-field>

          <mat-form-field class="full-width-input">
            <input matInput [matDatepicker]="picker" time="false" date="true" placeholder="Дата народження" formControlName="birthDate" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error>
              Вкажіть коректну дату народження
              </mat-error>
          </mat-form-field>

          <mat-form-field class="full-width-input">
            <mat-label>Стать</mat-label>
            <mat-select formControlName="gender">
              <mat-option value="M">Male</mat-option>
              <mat-option value="F">Female</mat-option>
            </mat-select>
            <mat-error>Необхідно зробити вибір</mat-error>
          </mat-form-field>

          <mat-form-field class="full-width-input">
            <input matInput placeholder="Електронна пошта" formControlName="email" required>
            <mat-error>
              Вкажіть коректну електронну пошту
            </mat-error>
          </mat-form-field>

        <mat-form-field class="full-width-input" >
            <input matInput [type]="hide ? 'password' : 'text'" placeholder="Пароль" formControlName="password" required>
            <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            <mat-error>
                {{passwordErrorMessage}}
            </mat-error>
          </mat-form-field>

          <mat-form-field class="full-width-input">
            <input matInput [type]="hideConfirm ? 'password' : 'text'" placeholder="Підтвердити пароль"  formControlName="confirmPassword" required>
            <button type="button" mat-icon-button matSuffix (click)="hideConfirm = !hideConfirm" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirm">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            <mat-error>
                {{confirmPasswordErrorMessage}}
            </mat-error>
          </mat-form-field>

        <button type="submit" mat-raised-button color="primary">Зареєструватися</button>
      </form>
