<mat-card fxFlex="50%" fxFlex.xs="95%">
  <mat-card-content> 
    <form [formGroup]="searchForm" (ngSubmit)="performSearch()" class="dish-search-form">
    <div class="filters">
    <div class="main-filters">
    <mat-form-field class="full-width-input">
      <input matInput placeholder="Шукати за назвою" formControlName="name">
    </mat-form-field>
    <button type="submit" class="btn-filter" mat-flat-button color="accent">Фільтрувати</button>
    </div>
</div>
      
  </form>

  
<div class="table-container" *ngIf="checklists">
  <mat-table id="table" [dataSource]="checklists" #table class="mat-cell">  

    <ng-container matColumnDef="checklist">
      <mat-header-cell *matHeaderCellDef>Чек-листи</mat-header-cell>
      <mat-cell *matCellDef="let item" routerLink="{{item.id}}">{{item.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="device">
      <mat-header-cell *matHeaderCellDef>Пристрої</mat-header-cell>
      <mat-cell class="content-text" *matCellDef="let item" >{{item.deviceName}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
      </mat-header-cell>
      <mat-cell *matCellDef="let item" >
          <button mat-icon-button color="accent" (click)="editChecklist(item)">
          <mat-icon aria-label="Редагувати">edit</mat-icon>
        </button>
          <button mat-icon-button color="accent">
            <mat-icon aria-label="Видалити" (click)="confirmDeletion(item.id)">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
    <mat-row *matRowDef="let item; columns: columnsToDisplay"></mat-row>
  </mat-table>
</div>
</mat-card-content> 
</mat-card>
