      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <h2>Вхід</h2>
        <mat-form-field class="full-width-input">
          <input matInput placeholder="Електронна пошта" formControlName="email" required>
          <mat-error>
            Введіть, буль ласка, коректну адресу
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input" >
            <input matInput [type]="hide ? 'password' : 'text'" placeholder="Пароль" onkeypress="return event.charCode != 32" formControlName="password" required>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Сховати пароль'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            <mat-error>
              Введіть, будь ласка, пароль
            </mat-error>
        </mat-form-field>
            <div *ngIf="isCaptcha" class="captcha text-center"> 
            <ngx-recaptcha2 #captchaElem formControlName="recaptcha" [siteKey]="siteKey" formControlName="recaptcha"></ngx-recaptcha2>
            <p *ngIf="control['recaptcha'].hasError('required')">Підтвердьте, що ви не робот</p>
          </div>

        <button type="submit" mat-raised-button color="primary">Увійти</button>
      </form>
      <div class="text-center">
        <a routerLink="../forgot-password" class="btn btn-link pr-0">Забули пароль?</a>
    </div>