<mat-card fxFlex="50%" fxFlex.xs="95%">
  <mat-card-content>
    <form [formGroup]="searchForm" (ngSubmit)="generateModel()">
      <div class="filters">
        <div class="main-filters">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Пристрій" aria-label="Пристрій" [matAutocomplete]="auto"
              [formControl]="deviceControl" required />
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onDeviceSelected($event)"
              [displayWith]="displayDevice">
              <mat-option *ngFor="let device of filteredDevices | async" [value]="device">
                <span>{{ device.name }}</span>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <button type="submit" class="btn-filter" mat-flat-button color="accent">Сформувати модель</button>

        </div>
      </div>

    </form>


    <div class="table-container" *ngIf="generatedModel">
      <mat-table id="table" [dataSource]="generatedModel.content" #table class="mat-cell">

        <ng-container matColumnDef="technique">
          <mat-header-cell *matHeaderCellDef>Загрози</mat-header-cell>
          <mat-cell *matCellDef="let item"
            (click)="openTechniqueDialog(item.techniqueId)">{{item.techniqueName}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="mitigation">
          <mat-header-cell *matHeaderCellDef>Пом'якшення</mat-header-cell>
          <mat-cell class="content-text" *matCellDef="let item"
            (click)="openMitigationDialog(item.mitigationId)">{{item.mitigationName}}</mat-cell>
        </ng-container>


        <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
        <mat-row *matRowDef="let item; columns: columnsToDisplay"></mat-row>
      </mat-table>
    </div>
  </mat-card-content>
</mat-card>