<div class="container">
  <h3 class="title" mat-dialog-title>Moderator personal information</h3>


  <form class="mat-dialog-content" [formGroup]="form" *ngIf="profile">
    <alert id="error-dialog"></alert>
    <div class="form">
      <mat-form-field>
        <input matInput placeholder="Identifier"  formControlName="id" value="this.data.id" [readonly]="true">
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field>
        <input matInput placeholder="Електронна пошта"  formControlName="email" value="profile.email" [readonly]="true">
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field>
        <input matInput  placeholder="Ім'я" value="profile.firstName" formControlName="firstName" required >
        <mat-error>
          Вкажіть коректне ім'я
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field>
        <input matInput placeholder="Прізвище"  value="profile.lastName"  formControlName="lastName" required >
        <mat-error>
          Вкажіть коректне прізвище
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field>
        <input matInput [matDatepicker]="picker" value="profile.birthDate" placeholder="Дата народження" formControlName="birthDate" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error>
          Вкажіть коректну дату народження
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field>
        <mat-label>Стать</mat-label>
        <mat-select formControlName="gender" value="profile.gender">
          <mat-option value="M">Чоловіча</mat-option>
          <mat-option value="F">Жіноча</mat-option>
        </mat-select>
        <mat-error>Необхідно зробити вибір</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field>
        <input matInput placeholder="Зображення"  formControlName="imgUrl" value="profile.imgUrl">
        <mat-error>
          Введене посилання має некоректний формат. Вкажіть зображення одного з форматів:.jpeg/.jpg/.png.
        </mat-error>
      </mat-form-field>
    </div>

    <mat-dialog-actions>
      <button class="mat-raised-button" (click)="close()">Закрити</button>
      <button class="mat-raised-button mat-primary" [disabled]="!form.valid" (click)="editModerator()">Зберегти</button>
    </mat-dialog-actions>
  </form>
</div>
