<div fxFlex="800px" fxFlex.xs="320px"><button mat-icon-button class="close-button" [mat-dialog-close]="true">
  <mat-icon class="close-icon" color="accent">close</mat-icon>
</button>
<br>
<br>
<div mat-dialog-content>
    <h1><b>{{technique.name}}</b></h1>
    <p>{{technique.description}}</p>
</div>
<br>
<div *ngIf="applicability" class="applicability-fields">
  <div class="technique-info-field">
    <label>ОС:</label>
    {{applicability.os}}
  </div>

  <div class="technique-info-field">
    <label>Мінімальна версія ОС:</label>
    {{applicability.osMinVersion}}
  </div>

  <div class="technique-info-field">
    <label>Максимальна версія ОС:</label>
    {{applicability.osMaxVersion}}
  </div>

  <div class="technique-info-field">
    <label>Процесор:</label>
    {{applicability.chipset}}
  </div>

  <div class="technique-info-field">
    <label>Сканер відбитків:</label>
    {{applicability.fingerprintScanner}}
  </div>

  <div class="technique-info-field">
    <label>Розпізнавання обличчя:</label>
    {{applicability.faceRecognition}}
  </div>
</div>
</div>
