<div class="profile">
  <div *ngIf="profileData">
    <div >
      <img class="img-profile"  [src]="url ? url : '../assets/images/defaultAv.png'" alt="">
    </div>

    <div class="profile-info-field">
      <label>Ім'я:</label>
      {{profileData.firstName}}
    </div>

    <div class="profile-info-field">
      <label>Прізвище:</label>
      {{profileData.lastName}}
    </div>

    <div class="profile-info-field">
      <label>Дата народження:</label>
      {{profileData.birthDate}}
    </div>

    <div class="profile-info-field">
      <label>Стать:</label>
      <span> {{profileData.gender}}</span>
    </div>

    <div class="user_profile_control">
      <button class="user_profile_control_edit" type="button" mat-raised-button color="primary" (click)="edit()">Редагувати профіль</button>
      <button class="user_profile_control_change_password" type="button" mat-raised-button color="primary" (click)="changePassword()">Змінити пароль</button>
    </div>

  </div>
</div>

