<link rel="stylesheet" href="https://unpkg.com/bootstrap@4.6.0/dist/css/bootstrap.min.css"/>
<mat-toolbar color="primary" class="expanded-toolbar">
  <span>
    <button mat-button routerLink="/">{{title}}</button>
  </span>

  <div *ngIf="account && account.role == Role.Moderator" fxFlex fxShow fxHide.lt-md>
    <button mat-button routerLink="/devices">Пристрої</button>
    <button mat-button routerLink="/techniques">Загрози</button>
    <button mat-button routerLink="/mitigations">Пом'якшення</button>
    <button mat-button routerLink="/model-generation">Формування моделі</button>
    <button mat-button routerLink="/checklists">Чек-листи</button>
  </div>

  <div *ngIf="account && account.role == Role.Admin" fxFlex fxShow fxHide.lt-md>
    <button mat-button routerLink="/admin">Модератори</button>
    <button mat-button routerLink="/model-generation">Формування моделі</button>
    <button mat-button routerLink="/checklists">Чек-листи</button>
  </div>

  <div *ngIf="account && account.role == Role.User" fxFlex fxShow fxHide.lt-md>
    <button mat-button routerLink="/model-generation">Формування моделі</button>
    <button mat-button routerLink="/checklists">Чек-листи</button>
  </div>

  <div *ngIf="!account" fxLayout="row" fxShow="false" fxShow.gt-sm>
    <button mat-button routerLink="/account/signin">
      <mat-icon>power_settings_new</mat-icon>
      Вхід
    </button>
    <button mat-button routerLink="/account/signup">
      <mat-icon>account_circle</mat-icon>
      Реєстрація
    </button>
  </div>

  <div *ngIf="account" fxLayout="row" fxShow="false" fxShow.gt-sm>
    <button mat-button routerLink="/profile">
      <mat-icon>assignment_ind</mat-icon>
      Мій профіль
    </button>
    <button mat-button (click)="logout()">
      <mat-icon>logout_outlined</mat-icon>
      Вийти
    </button>
  </div>

  <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<mat-menu x-position="before" #menu="matMenu">

  <div *ngIf="!account">
    <button mat-menu-item routerLink="/account/signup">
      <mat-icon>account_circle</mat-icon>
      Реєстрація
    </button>
    <button mat-menu-item routerLink="/account/signin">
      <mat-icon>power_settings_new</mat-icon>
      Вхід
    </button>
  </div>

  <div *ngIf="account">
    <button mat-menu-item routerLink="/profile">
      <mat-icon>assignment_ind</mat-icon>
      Мій профіль
    </button>
    <button *ngIf="account.role == Role.Moderator" mat-menu-item routerLink="/devices">
      <mat-icon>list</mat-icon>
      Пристрої
    </button>
    <button *ngIf="account.role == Role.Moderator" mat-menu-item routerLink="/techniques">
      <mat-icon>list</mat-icon>
      Загрози
    </button>
    <button *ngIf="account.role == Role.Moderator" mat-menu-item routerLink="/mitigations">
      <mat-icon>list</mat-icon>
      Пом'якшення
    </button>
    <button *ngIf="account.role == Role.Admin" mat-menu-item routerLink="/admin">
      <mat-icon>list</mat-icon>
      Модератори
    </button>
    <button mat-menu-item routerLink="/model-generation">
      <mat-icon>list</mat-icon>
      Формування моделі
    </button>
    <button mat-menu-item routerLink="/checklists">
      <mat-icon>list</mat-icon>
      Чек-листи
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout_outlined</mat-icon>
      Вийти
    </button>
  </div>
</mat-menu>
<router-outlet></router-outlet>
