<div class="edit_profile">
  <form [formGroup]="form">
    <div class="img-profile-changer">
      <label class="hoverable" for="fileInput">
        <img class="img-profile" [src]="url ? url : '../assets/images/defaultAv.png'" alt="">
        <span class="hover-text">Обрати файл</span>
        <span class="background"></span>
      </label>

      <input id="fileInput" (click)="openDialog()">
      <button mat-raised-button color="primary" *ngIf="hide" (click)="delete()">Скасувати</button>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Ім'я:</mat-label>
      <input matInput formControlName="firstName" required>
      <mat-error>
        {{firstNameErrorMessage}}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Прізвище:</mat-label>
      <input matInput formControlName="lastName" required>
      <mat-error>
        {{lastNameErrorMessage}}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Дата народження:</mat-label>
      <input matInput [matDatepicker]="picker" time="false" date="true" formControlName="date" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error>Вкажіть коректну дату народження</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Стать:</mat-label>
      <mat-select formControlName="gender" required>
        <mat-option value="M">Чоловіча</mat-option>
        <mat-option value="F">Жіноча</mat-option>
      </mat-select>
      <mat-error>Необхідно зробити вибір</mat-error>
    </mat-form-field>

    <div class="user_profile_control_edit">
      <button type="button" [disabled]="form.invalid" (click)="submit()" mat-raised-button color="primary">Зберегти</button>
      <button type="button" (click)="back()" mat-raised-button color="primary">Назад</button>
    </div>
  </form>
</div>
